keras==2.8.0
numpy==1.21.6
opencv-python==4.5.1.48
eventlet
gevent
gevent-websocket
greenlet
Pillow
Flask-SocketIO
python-engineio
python-socketio
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
MarkupSafe==1.1.1
Werkzeug==1.0.1




